<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rakesh Basnet</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.PNG" rel="icon">
  <link href="img/apple-touch-icon.PNG" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">PortFolio</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              All Projects Involved
            </h3>
            <p class="subtitle-a">
              PHP, Larvel and Code Ingniter projects involved:
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="img/pmis.PNG" data-lightbox="gallery-mf">
              <div class="work-img" style="width: 350px; height:200px;">
                <img src="img/pmis.PNG" alt="" class="img-fluid" style="height: 200px;">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <a href="http://103.175.192.71/" target="_blank"><h2 class="w-title">Prison Management and Information System (PMIS)</h2></a>
                    <div class="w-more">
                      <span class="w-ctegory">Database, Api Development and VM server Hosting</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="img/maafi.PNG" data-lightbox="gallery-mf">
              <div class="work-img" style="width: 350px; height:200px;">
                <img src="img/maafi.PNG" alt="" class="img-fluid" style="size: 100%">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <a href=" http://103.175.192.72/" target="_blank"><h2 class="w-title">Maafi Minaha (Kaid Katta)</h2></a>
                    <div class="w-more">
                      <span class="w-ctegory">Database, Api Development and VM server Hosting</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="img/oag.PNG" data-lightbox="gallery-mf">
              <div class="work-img" style="width: 350px; height:200px;">
                <img src="img/oag.PNG" alt="" class="img-fluid" style="size: 100%">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <a href="http://oag.gov.np/" target="_blank"><h2 class="w-title">Office of Auditor General (OAG)</h2></a>
                    <div class="w-more">
                      <span class="w-ctegory">Maitenance and Bug fixes</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/opmcm.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/opmcm.PNG" alt="" class="img-fluid" style="size: 100%">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://www.opmcm.gov.np/" target="_blank"><h2 class="w-title">Office of Prime Minister and Council of Ministers(OPMCM)</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Maitenance and Bug fixes</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/idobaitadi.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/idobaitadi.PNG" alt="" class="img-fluid" style="size: 100%">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://idobaitadi.sudurpashchim.gov.np/" target="_blank"><h2 class="w-title">Infrastucture Development Office (IDO Baitadi)</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Maitenance and VM server Hosting</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
         <div class="col-md-4">
            <div class="work-box">
              <a href="img/smartgk.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/smartgk.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://smartgkonline.com/" target="_blank"><h2 class="w-title">Smart GK</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database, CMS and Api Development</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/loksewabazar.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/loksewabazar.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://loksewabazaar.com/" target="_blank"><h2 class="w-title">Loksewa Bazaar</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database, CMS and Api Development</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/kfanabil.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/kfanabil.PNG" alt="" class="img-fluid" style="size: 100%">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://kfanabil.creatudevelopers.com.np/" target="_blank"><h2 class="w-title">KFA System For Nabil Bank</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database and Api Development</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/everest.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/everest.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://everestmerchanttrd.com/" target="_blank"><h2 class="w-title">Everest Merchant</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Guidance</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/kisancare.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/kisancare.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://kisancare.creatudevelopers.com.np/" target="_blank"><h2 class="w-title">KisanCare</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database, CMS and Api Devlopment</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/kabmart.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/kabmart.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://kabmart.com/" target="_blank"><h2 class="w-title">KabMart (Retail Based Ecommerce)</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database, CMS and API Development</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/kabchain.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/kabchain.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://kabchain.com/" target="_blank"><h2 class="w-title">Kabchain (WholeSale Based Ecommerce)</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database,CMS Api Development and Web Design</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/byappar.jpg" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/byappar.jpg" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://inventory.luckyshoesnepal.com/" target="_blank"><h2 class="w-title">Lucky Shoes (Byappar)</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">CMS and Web Design</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/foodie.jpg" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/foodie.jpg" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://foodiewoodie.com.np/" target="_blank"><h2 class="w-title">FoodieWoodie</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database, CMS and Api Development</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/smarthotel.jpg" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/smarthotel.jpg" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://smarthotel.nefotech.com/" target="_blank"><h2 class="w-title">Smart Hotel</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Api Development</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/nepaligarden.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/nepaligarden.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://www.nepaligarden.com/" target="_blank"><h2 class="w-title">Nepali Garden</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database, CMS and Api Development</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/almadena.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/almadena.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://almadeenalab.com/" target="_blank"><h2 class="w-title">Al Madeena Lab</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/reliablediag.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/reliablediag.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://reliablediag.com.np/" target="_blank"><h2 class="w-title">Reliable Diagnostic Laboratory</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/mbs.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/mbs.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="http://mbstransformer.co.uk/" target="_blank"><h2 class="w-title">MBS Transformer</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/ageingnepal.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/ageingnepal.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://ageingnepal.org/" target="_blank"><h2 class="w-title">Ageing Nepal</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/bhandaribros.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/bhandaribros.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://bhandaribros.com/" target="_blank"><h2 class="w-title">Bhandari Brothers Group</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/honeywella.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/honeywella.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://honeywella.com/" target="_blank"><h2 class="w-title">Honeywella</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/ristretto.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/ristretto.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://www.ristretto.com.np/" target="_blank"><h2 class="w-title">Ristretto</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/navc.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/navc.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://navcgroup.com/" target="_blank"><h2 class="w-title">NAVC Group</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="img/bihani.PNG" data-lightbox="gallery-mf">
              <div class="work-img" style="width: 350px; height:200px;">
                <img src="img/bihani.PNG" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <a href="https://www.bihani.com.np/" target="_blank"><h2 class="w-title">Bihani CMS</h2></a>
                    <div class="w-more">
                      <span class="w-ctegory">Database Design and Team Lead</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/hrportal.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/hrportal.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://hrportalcms.creatudevelopers.com.np/" target="_blank"><h2 class="w-title">HireMe (HR Portal)</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/matrimonial.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/matrimonial.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://matrimonialcms.creatudevelopers.com.np/" target="_blank"><h2 class="w-title">Matrimonial</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/treasuretrove.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/treasuretrove.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://treasuretrovecms.creatudevelopers.com.np/" target="_blank"><h2 class="w-title">Treasure Trove</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/creatulearning.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/creatulearning.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://creatulearningcms.creatudevelopers.com.np/" target="_blank"><h2 class="w-title">Creatu Learning</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Database Design and Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="img/mvd.PNG" data-lightbox="gallery-mf">
                <div class="work-img" style="width: 350px; height:200px;">
                  <img src="img/mvd.PNG" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <a href="https://mvdugar.com/" target="_blank"><h2 class="w-title">MVD Groups</h2></a>
                      <div class="w-more">
                        <span class="w-ctegory">Team Lead</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

 <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/popper/popper.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/counterup/jquery.waypoints.min.js"></script>
  <script src="lib/counterup/jquery.counterup.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
